header {
  margin-top: 50px;
}

.list {
  margin: 17px;
  height: auto;
  align-items: center;
  border: solid 2px #eee;
  border-radius: 3px;
}

.kid {
  height: auto;
  margin: 7px;
  border: solid 2px #eee;
  padding: 5px;
}

.modi {
  margin-bottom: 7px;
}
